# Final Cleaning

Combining cleaned tables by year. Adding poverty data, which will be our y variable in modeling.

In [1]:
import pandas as pd

In [2]:
# membership and wage data
mmwages2010 = pd.read_csv('../../data/cleaned_data/model_data/2010/mean_medwages2010.csv', index_col='State').drop(columns='Unnamed: 0')

In [3]:
# fatalities data
fatal2010 = pd.read_csv('../../data/cleaned_data/model_data/2010/fatal_2010.csv', index_col='State')

In [4]:
# combining on shared index
combined2010 = mmwages2010.merge(fatal2010, on='State')
combined2010.head()

,Total_Avg_$,Total_Med_$,Total_Employment,Total_Mem_%,Construction_Avg_$,Construction_Med_$,Construction_Employment,Construction_Mem_%,Total_Fatalities,Construction_Fatalities
State,,,,,,,,,,
Alabama,"38,590","29,570","1,808,807",10.1,"35,010","31,750","100,593",4.8,92.0,15.0
Wyoming,"41,510","35,020","245,685",7.4,"45,360","42,180","16,072",6.6,39.0,10.0
Wyoming,"41,510","35,020","245,685",7.4,"45,360","42,180","16,072",6.6,88.0,18.0
Wyoming,"41,510","35,020","245,685",7.4,"45,360","42,180","16,072",6.6,77.0,13.0
Wyoming,"41,510","35,020","245,685",7.4,"45,360","42,180","16,072",6.6,326.0,45.0

In [5]:
# poverty data; removing total population column
pov2010 = pd.read_csv('../../data/cleaned_data/poverty/state_pov2010.csv', index_col='State').drop(columns=['2010_Total_Pop', '2010_Pop_Below_Pov'])

In [6]:
# combining on shared index
final_2010 = combined2010.merge(pov2010, on='State')
final_2010.head()

,Total_Avg_$,Total_Med_$,Total_Employment,Total_Mem_%,Construction_Avg_$,Construction_Med_$,Construction_Employment,Construction_Mem_%,Total_Fatalities,Construction_Fatalities,2010_Pct_Below_Pov
State,,,,,,,,,,,
Alabama,"38,590","29,570","1,808,807",10.1,"35,010","31,750","100,593",4.8,92.0,15.0,19.0
Wyoming,"41,510","35,020","245,685",7.4,"45,360","42,180","16,072",6.6,39.0,10.0,11.2
Wyoming,"41,510","35,020","245,685",7.4,"45,360","42,180","16,072",6.6,88.0,18.0,11.2
Wyoming,"41,510","35,020","245,685",7.4,"45,360","42,180","16,072",6.6,77.0,13.0,11.2
Wyoming,"41,510","35,020","245,685",7.4,"45,360","42,180","16,072",6.6,326.0,45.0,11.2

In [7]:
# loading in data tables for rest of years

years = [2011,2012,2013,2014,2015,2016,2017]

In [8]:
# wages
for year in years:
    globals()[f'mmwages{year}'] = pd.read_csv(f'../../data/cleaned_data/model_data/{year}/mean_medwages{year}.csv', index_col='State').drop(columns='Unnamed: 0')
    
# fatalities
for year in years:
    globals()[f'fatal{year}'] = pd.read_csv(f'../../data/cleaned_data/model_data/{year}/fatal_{year}.csv', index_col='State')
    
# poverty
for year in years:
    globals()[f'pov{year}'] = pd.read_csv(f'../../data/cleaned_data/poverty/state_pov{year}.csv', index_col='State'). drop(columns=[f'{year}_Total_Pop', f'{year}_Pop_Below_Pov'])

In [9]:
combined2011 = mmwages2011.merge(fatal2011, on='State')
final_2011 = combined2011.merge(pov2011, on='State')
final_2011.head()

,Total_Avg_$,Total_Med_$,Total_Employment,Total_Mem_%,Construction_Avg_$,Construction_Med_$,Construction_Employment,Construction_Mem_%,Total_Fatalities,Construction_Fatalities,2011_Pct_Below_Pov
State,,,,,,,,,,,
Alabama,"39,180","29,850","1,781,885",10.0,"35,530","32,520","86,771",9.4,92.0,15.0,19.0
Wyoming,"42,510","36,140","250,471",7.2,"46,010","43,230","15,238",5.8,39.0,3.0,11.3
Wyoming,"42,510","36,140","250,471",7.2,"46,010","43,230","15,238",5.8,93.0,14.0,11.3
Wyoming,"42,510","36,140","250,471",7.2,"46,010","43,230","15,238",5.8,69.0,9.0,11.3
Wyoming,"42,510","36,140","250,471",7.2,"46,010","43,230","15,238",5.8,390.0,56.0,11.3

In [11]:
combined2012 = mmwages2012.merge(fatal2012, on='State')
final_2012 = combined2012.merge(pov2012, on='State')
final_2012.head()

,Total_Avg_$,Total_Med_$,Total_Employment,Total_Mem_%,Construction_Avg_$,Construction_Med_$,Construction_Employment,Construction_Mem_%,Total_Fatalities,Construction_Fatalities,2012_Pct_Below_Pov
State,,,,,,,,,,,
Alabama,"39,550","29,950","1,812,340",9.2,"36,360","33,390","77,560",7.1,92.0,15.0,19.0
Wyoming,"43,180","36,740","252,241",6.7,"46,200","43,790","12,711",4.7,31.0,3.0,12.6
Wyoming,"43,180","36,740","252,241",6.7,"46,200","43,790","12,711",4.7,63.0,12.0,12.6
Wyoming,"43,180","36,740","252,241",6.7,"46,200","43,790","12,711",4.7,60.0,7.0,12.6
Wyoming,"43,180","36,740","252,241",6.7,"46,200","43,790","12,711",4.7,375.0,58.0,12.6

In [14]:
combined2013 = mmwages2013.merge(fatal2013, on='State')
final_2013 = combined2013.merge(pov2013, on='State')
final_2013.head()

,Total_Avg_$,Total_Med_$,Total_Employment,Total_Mem_%,Construction_Avg_$,Construction_Med_$,Construction_Employment,Construction_Mem_%,Total_Fatalities,Construction_Fatalities,2013_Pct_Below_Pov
State,,,,,,,,,,,
Alabama,"40,240","30,390","1,891,629",10.8,"37,290","34,340","91,112",3.1,92.0,15.0,18.7
Wyoming,"43,770","36,990","258,942",5.7,"46,730","44,050","15,314",7.3,32.0,0.0,10.9
Wyoming,"43,770","36,990","258,942",5.7,"46,730","44,050","15,314",7.3,63.0,13.0,10.9
Wyoming,"43,770","36,990","258,942",5.7,"46,730","44,050","15,314",7.3,95.0,13.0,10.9
Wyoming,"43,770","36,990","258,942",5.7,"46,730","44,050","15,314",7.3,396.0,61.0,10.9

In [15]:
combined2014 = mmwages2014.merge(fatal2014, on='State')
final_2014 = combined2014.merge(pov2014, on='State')
final_2014.head()

,Total_Avg_$,Total_Med_$,Total_Employment,Total_Mem_%,Construction_Avg_$,Construction_Med_$,Construction_Employment,Construction_Mem_%,Total_Fatalities,Construction_Fatalities,2014_Pct_Below_Pov
State,,,,,,,,,,,
Alabama,"40,890","30,850","1,889,069",10.8,"38,210","35,040","108,463",2.0,92.0,15.0,19.3
Wyoming,"44,930","37,770","254,991",6.7,"49,140","46,100","14,589",6.2,30.0,0.0,11.2
Wyoming,"44,930","37,770","254,991",6.7,"49,140","46,100","14,589",6.2,67.0,15.0,11.2
Wyoming,"44,930","37,770","254,991",6.7,"49,140","46,100","14,589",6.2,88.0,17.0,11.2
Wyoming,"44,930","37,770","254,991",6.7,"49,140","46,100","14,589",6.2,344.0,49.0,11.2

In [16]:
combined2015 = mmwages2015.merge(fatal2015, on='State')
final_2015 = combined2015.merge(pov2015, on='State')
final_2015.head()

,Total_Avg_$,Total_Med_$,Total_Employment,Total_Mem_%,Construction_Avg_$,Construction_Med_$,Construction_Employment,Construction_Mem_%,Total_Fatalities,Construction_Fatalities,2015_Pct_Below_Pov
State,,,,,,,,,,,
Alabama,"41,920","31,550","1,863,152",10.2,"38,990","35,710","97,730",6.8,92.0,15.0,18.5
Wyoming,"45,850","38,280","261,398",7.1,"49,660","46,530","17,649",6.3,14.0,3.0,11.1
Wyoming,"45,850","38,280","261,398",7.1,"49,660","46,530","17,649",6.3,74.0,8.0,11.1
Wyoming,"45,850","38,280","261,398",7.1,"49,660","46,530","17,649",6.3,69.0,12.0,11.1
Wyoming,"45,850","38,280","261,398",7.1,"49,660","46,530","17,649",6.3,388.0,75.0,11.1

In [17]:
combined2016 = mmwages2016.merge(fatal2016, on='State')
final_2016 = combined2016.merge(pov2016, on='State')
final_2016.head()

,Total_Avg_$,Total_Med_$,Total_Employment,Total_Mem_%,Construction_Avg_$,Construction_Med_$,Construction_Employment,Construction_Mem_%,Total_Fatalities,Construction_Fatalities,2016_Pct_Below_Pov
State,,,,,,,,,,,
Alabama,"42,510","32,100","1,893,731",8.1,"39,990","36,520","96,538",11.3,92.0,15.0,17.1
Wyoming,"46,840","38,710","248,443",6.3,"50,950","47,590","18,889",4.3,35.0,2.0,11.3
Wyoming,"46,840","38,710","248,443",6.3,"50,950","47,590","18,889",4.3,68.0,13.0,11.3
Wyoming,"46,840","38,710","248,443",6.3,"50,950","47,590","18,889",4.3,77.0,15.0,11.3
Wyoming,"46,840","38,710","248,443",6.3,"50,950","47,590","18,889",4.3,376.0,55.0,11.3

In [18]:
combined2017 = mmwages2017.merge(fatal2017, on='State')
final_2017 = combined2017.merge(pov2017, on='State')
final_2017.head()

,Total_Avg_$,Total_Med_$,Total_Employment,Total_Mem_%,Construction_Avg_$,Construction_Med_$,Construction_Employment,Construction_Mem_%,Total_Fatalities,Construction_Fatalities,2017_Pct_Below_Pov
State,,,,,,,,,,,
Alabama,"43,170","32,800","1,868,005",7.4,"40,770","37,380","112,835",7.0,92.0,15.0,16.9
Wyoming,"47,650","39,120","242,840",6.0,"51,430","47,870","14,102",5.6,33.0,0.0,11.3
Wyoming,"47,650","39,120","242,840",6.0,"51,430","47,870","14,102",5.6,76.0,9.0,11.3
Wyoming,"47,650","39,120","242,840",6.0,"51,430","47,870","14,102",5.6,90.0,11.0,11.3
Wyoming,"47,650","39,120","242,840",6.0,"51,430","47,870","14,102",5.6,376.0,69.0,11.3

Noticing commas that will interfere with modeling, we will remove them and ensure all data is in integer form.

In [19]:
cols = ['Total_Avg_$',
'Total_Med_$',
'Total_Employment',
'Total_Mem_%',
'Construction_Avg_$',
'Construction_Med_$',
'Construction_Employment',
'Construction_Mem_%',
'Total_Fatalities',
'Construction_Fatalities']

def rmv_commas(df):
    for c in cols:
        df[c].replace(',', '', regex=True, inplace=True)
        df[c] = df[c].astype(int)
    return df

In [20]:
# to standardize column names across all tables, the years will be removed from the poverty columns
 
final_2010 = rmv_commas(final_2010.rename(columns={'2010_Pct_Below_Pov':'Pct_Below_Pov'}))
final_2011 = rmv_commas(final_2011.rename(columns={'2011_Pct_Below_Pov':'Pct_Below_Pov'}))
final_2012 = rmv_commas(final_2012.rename(columns={'2012_Pct_Below_Pov':'Pct_Below_Pov'}))
final_2013 = rmv_commas(final_2013.rename(columns={'2013_Pct_Below_Pov':'Pct_Below_Pov'}))
final_2014 = rmv_commas(final_2014.rename(columns={'2014_Pct_Below_Pov':'Pct_Below_Pov'}))
final_2015 = rmv_commas(final_2015.rename(columns={'2015_Pct_Below_Pov':'Pct_Below_Pov'}))
final_2016 = rmv_commas(final_2016.rename(columns={'2016_Pct_Below_Pov':'Pct_Below_Pov'}))
final_2017 = rmv_commas(final_2017.rename(columns={'2017_Pct_Below_Pov':'Pct_Below_Pov'}))

In [21]:
final_2010.to_csv('../../data/cleaned_data/model_data/2010/final_2010.csv')

In [22]:
for year in years:
    globals()[f'final_{year}'].to_csv(f'../../data/cleaned_data/model_data/{year}/final_{year}.csv')

#### Because we are creating a classification model, we need to binarize the 'Pct_Below_Pov' column. The values are based on the U.S. poverty threshold for each given year.

In [23]:
final_2010['Pct_Below_Pov'] = (final_2010['Pct_Below_Pov'] > 15.1).astype(int)

In [24]:
final_2011['Pct_Below_Pov'] = (final_2011['Pct_Below_Pov'] > 15).astype(int)

In [25]:
final_2012['Pct_Below_Pov'] = (final_2012['Pct_Below_Pov'] > 15).astype(int)

In [26]:
final_2013['Pct_Below_Pov'] = (final_2013['Pct_Below_Pov'] > 14.5).astype(int)

In [27]:
final_2014['Pct_Below_Pov'] = (final_2014['Pct_Below_Pov'] > 14.8).astype(int)

In [28]:
final_2015['Pct_Below_Pov'] = (final_2015['Pct_Below_Pov'] > 13.5).astype(int)

In [29]:
final_2016['Pct_Below_Pov'] = (final_2016['Pct_Below_Pov'] > 12.7).astype(int)

In [30]:
final_2017['Pct_Below_Pov'] = (final_2017['Pct_Below_Pov'] > 12.3).astype(int)

In [36]:
final_2010.to_csv('../../data/cleaned_data/model_data/2010/final_2010_bin.csv')

for year in years:
    globals()[f'final_{year}'].to_csv(f'../../data/cleaned_data/model_data/{year}/final_{year}_bin.csv')