# Final Cleaning

Combining cleaned tables by year. Adding poverty data, which will be our y variable in modeling.

In [1]:
import pandas as pd

In [2]:
# membership and wage data
mm2010 = pd.read_csv('../data/cleaned_data/model_data/2010/mm2010.csv', index_col='State').drop(columns='Unnamed: 0')

In [3]:
# fatalities data
f2010 = pd.read_csv('../data/cleaned_data/model_data/2010/f_2010.csv', index_col='State')

In [4]:
# combining on shared index
c2010 = mm2010.merge(f2010, on='State')
c2010.head()

,Total_Avg_$,Total_Med_$,Total_Employment,Total_Mem_%,Construction_Avg_$,Construction_Med_$,Construction_Employment,Construction_Mem_%,Total_Fatalities,Construction_Fatalities
State,,,,,,,,,,
Alabama,"38,590","29,570","1,808,807",10.1,"35,010","31,750","100,593",4.8,92.0,15.0
Alaska,"50,350","41,640","295,063",22.9,"59,980","59,660","17,440",21.4,39.0,10.0
Arizona,"42,390","33,040","2,506,723",6.4,"39,060","36,380","163,760",5.3,77.0,13.0
Arkansas,"35,460","27,860","1,081,711",4.0,"34,270","31,820","47,617",6.2,88.0,18.0
California,"50,730","37,870","13,891,632",17.5,"51,880","48,980","707,158",15.7,326.0,45.0

In [5]:
# poverty data; removing total population column
p2010 = pd.read_csv('../data/cleaned_data/poverty/state_pov_2010.csv', index_col='State').drop(columns=['2010_Total_Pop', '2010_Pop_Below_Pov'])

In [6]:
# combining on shared index
final_2010 = c2010.merge(p2010, on='State')
final_2010.head()

,Total_Avg_$,Total_Med_$,Total_Employment,Total_Mem_%,Construction_Avg_$,Construction_Med_$,Construction_Employment,Construction_Mem_%,Total_Fatalities,Construction_Fatalities,2010_Pct_Below_Pov
State,,,,,,,,,,,
Alabama,"38,590","29,570","1,808,807",10.1,"35,010","31,750","100,593",4.8,92.0,15.0,19.0
Alaska,"50,350","41,640","295,063",22.9,"59,980","59,660","17,440",21.4,39.0,10.0,9.9
Arizona,"42,390","33,040","2,506,723",6.4,"39,060","36,380","163,760",5.3,77.0,13.0,17.4
Arkansas,"35,460","27,860","1,081,711",4.0,"34,270","31,820","47,617",6.2,88.0,18.0,18.8
California,"50,730","37,870","13,891,632",17.5,"51,880","48,980","707,158",15.7,326.0,45.0,15.8

In [7]:
mm2011 = pd.read_csv('../data/cleaned_data/model_data/2011/mm2011.csv', index_col='State').drop(columns='Unnamed: 0')
f2011 = pd.read_csv('../data/cleaned_data/model_data/2011/f_2011.csv', index_col='State')
c2011 = mm2011.merge(f2011, on='State')

In [8]:
p2011 = pd.read_csv('../data/cleaned_data/poverty/state_pov_2011.csv', index_col='State').drop(columns=['2011_Total_Pop', '2011_Pop_Below_Pov'])
final_2011 = c2011.merge(p2011, on='State')
final_2011.head()

,Total_Avg_$,Total_Med_$,Total_Employment,Total_Mem_%,Construction_Avg_$,Construction_Med_$,Construction_Employment,Construction_Mem_%,Total_Fatalities,Construction_Fatalities,2011_Pct_Below_Pov
State,,,,,,,,,,,
Alabama,"39,180","29,850","1,781,885",10.0,"35,530","32,520","86,771",9.4,92.0,8.0,19.0
Alaska,"51,590","42,960","305,485",22.1,"60,830","59,560","18,231",21.3,39.0,3.0,10.5
Arizona,"43,670","34,110","2,499,746",6.0,"40,770","37,620","139,825",5.2,69.0,9.0,19.0
Arkansas,"36,340","28,460","1,116,844",4.2,"34,730","32,400","54,557",5.7,93.0,14.0,19.5
California,"51,910","38,530","13,927,053",17.1,"53,160","50,140","686,035",16.9,390.0,56.0,16.6

In [9]:
mm2012 = pd.read_csv('../data/cleaned_data/model_data/2012/mm2012.csv', index_col='State').drop(columns='Unnamed: 0')
f2012 = pd.read_csv('../data/cleaned_data/model_data/2012/f_2012.csv', index_col='State')
c2012 = mm2012.merge(f2012, on='State')

In [10]:
p2012 = pd.read_csv('../data/cleaned_data/poverty/state_pov_2012.csv', index_col='State').drop(columns=['2012_Total_Pop', '2012_Pop_Below_Pov'])
final_2012 = c2012.merge(p2012, on='State')
final_2012.head()

,Total_Avg_$,Total_Med_$,Total_Employment,Total_Mem_%,Construction_Avg_$,Construction_Med_$,Construction_Employment,Construction_Mem_%,Total_Fatalities,Construction_Fatalities,2012_Pct_Below_Pov
State,,,,,,,,,,,
Alabama,"39,550","29,950","1,812,340",9.2,"36,360","33,390","77,560",7.1,92.0,14.0,19.0
Alaska,"52,050","43,510","298,283",22.4,"61,120","59,690","14,486",21.8,31.0,3.0,10.1
Arizona,"43,950","33,980","2,433,824",5.2,"39,770","36,750","110,741",2.7,60.0,7.0,18.7
Arkansas,"36,850","28,690","1,155,140",3.2,"34,630","32,200","61,336",1.0,63.0,12.0,19.8
California,"52,350","38,770","14,488,778",17.2,"53,820","50,750","746,875",15.9,375.0,58.0,17.0

In [11]:
mm2013 = pd.read_csv('../data/cleaned_data/model_data/2013/mm2013.csv', index_col='State').drop(columns='Unnamed: 0')
f2013 = pd.read_csv('../data/cleaned_data/model_data/2013/f_2013.csv', index_col='State')
c2013 = mm2013.merge(f2013, on='State')

In [12]:
p2013 = pd.read_csv('../data/cleaned_data/poverty/state_pov_2013.csv', index_col='State').drop(columns=['2013_Total_Pop', '2013_Pop_Below_Pov'])
final_2013 = c2013.merge(p2013, on='State')
final_2013.head()

,Total_Avg_$,Total_Med_$,Total_Employment,Total_Mem_%,Construction_Avg_$,Construction_Med_$,Construction_Employment,Construction_Mem_%,Total_Fatalities,Construction_Fatalities,2013_Pct_Below_Pov
State,,,,,,,,,,,
Alabama,"40,240","30,390","1,891,629",10.8,"37,290","34,340","91,112",3.1,92.0,20.0,18.7
Alaska,"53,110","44,350","306,322",23.1,"61,780","60,200","17,040",22.3,32.0,0.0,9.3
Arizona,"44,370","34,170","2,455,146",5.0,"40,760","37,200","127,729",4.1,95.0,13.0,18.6
Arkansas,"37,340","28,910","1,072,119",3.5,"35,210","32,760","43,561",2.6,63.0,13.0,19.7
California,"53,030","38,920","14,840,395",16.4,"54,130","51,090","761,854",16.5,396.0,61.0,16.8

In [13]:
mm2014 = pd.read_csv('../data/cleaned_data/model_data/2014/mm2014.csv', index_col='State').drop(columns='Unnamed: 0')
f2014 = pd.read_csv('../data/cleaned_data/model_data/2014/f_2014.csv', index_col='State')
c2014 = mm2014.merge(f2014, on='State')

In [14]:
p2014 = pd.read_csv('../data/cleaned_data/poverty/state_pov_2014.csv', index_col='State').drop(columns=['2014_Total_Pop', '2014_Pop_Below_Pov'])
final_2014 = c2014.merge(p2014, on='State')
final_2014.head()

,Total_Avg_$,Total_Med_$,Total_Employment,Total_Mem_%,Construction_Avg_$,Construction_Med_$,Construction_Employment,Construction_Mem_%,Total_Fatalities,Construction_Fatalities,2014_Pct_Below_Pov
State,,,,,,,,,,,
Alabama,"40,890","30,850","1,889,069",10.8,"38,210","35,040","108,463",2.0,92.0,11.0,19.3
Alaska,"54,040","45,200","307,285",22.8,"63,590","62,220","17,417",32.8,30.0,0.0,11.2
Arizona,"44,580","34,230","2,594,000",5.3,"41,690","37,630","141,828",3.3,88.0,17.0,18.2
Arkansas,"37,940","29,140","1,108,001",4.7,"35,530","32,980","60,688",2.5,67.0,15.0,18.9
California,"53,890","39,190","15,134,895",16.3,"54,200","50,520","791,563",16.3,344.0,49.0,16.4

In [15]:
mm2015 = pd.read_csv('../data/cleaned_data/model_data/2015/mm2015.csv', index_col='State').drop(columns='Unnamed: 0')
f2015 = pd.read_csv('../data/cleaned_data/model_data/2015/f_2015.csv', index_col='State')
c2015 = mm2015.merge(f2015, on='State')

In [16]:
p2015 = pd.read_csv('../data/cleaned_data/poverty/state_pov_2015.csv', index_col='State').drop(columns=['2015_Total_Pop','2015_Pop_Below_Pov'])
final_2015 = c2015.merge(p2015, on='State')
final_2015.head()

,Total_Avg_$,Total_Med_$,Total_Employment,Total_Mem_%,Construction_Avg_$,Construction_Med_$,Construction_Employment,Construction_Mem_%,Total_Fatalities,Construction_Fatalities,2015_Pct_Below_Pov
State,,,,,,,,,,,
Alabama,"41,920","31,550","1,863,152",10.2,"38,990","35,710","97,730",6.8,92.0,14.0,18.5
Alaska,"55,760","46,420","304,538",19.6,"65,300","63,530","18,874",26.6,14.0,3.0,10.3
Arizona,"45,310","34,680","2,661,422",5.2,"42,770","38,580","145,217",6.8,69.0,12.0,17.4
Arkansas,"38,540","29,420","1,156,533",5.1,"36,110","33,220","57,628",2.3,74.0,8.0,19.1
California,"55,260","39,830","15,662,847",15.9,"55,240","51,160","820,015",18.1,388.0,75.0,15.3

In [17]:
mm2016 = pd.read_csv('../data/cleaned_data/model_data/2016/mm2016.csv', index_col='State').drop(columns='Unnamed: 0')
f2016 = pd.read_csv('../data/cleaned_data/model_data/2016/f_2016.csv', index_col='State')
c2016 = mm2016.merge(f2016, on='State')

In [18]:
p2016 = pd.read_csv('../data/cleaned_data/poverty/state_pov_2016.csv', index_col='State').drop(columns=['2016_Total_Pop','2016_Pop_Below_Pov'])
final_2016 = c2016.merge(p2016, on='State')
final_2016.head()

,Total_Avg_$,Total_Med_$,Total_Employment,Total_Mem_%,Construction_Avg_$,Construction_Med_$,Construction_Employment,Construction_Mem_%,Total_Fatalities,Construction_Fatalities,2016_Pct_Below_Pov
State,,,,,,,,,,,
Alabama,"42,510","32,100","1,893,731",8.1,"39,990","36,520","96,538",11.3,92.0,20.0,17.1
Alaska,"56,710","47,170","297,008",18.5,"67,210","65,180","18,673",26.6,35.0,2.0,9.9
Arizona,"46,290","35,470","2,727,866",4.5,"43,800","40,020","150,775",7.1,77.0,15.0,16.4
Arkansas,"39,590","30,130","1,185,496",4.0,"36,450","33,630","69,123",1.7,68.0,13.0,17.2
California,"56,840","40,920","16,007,244",15.9,"56,770","52,280","857,489",18.4,376.0,55.0,14.3

In [19]:
mm2017 = pd.read_csv('../data/cleaned_data/model_data/2017/mm2017.csv', index_col='State').drop(columns='Unnamed: 0')
f2017 = pd.read_csv('../data/cleaned_data/model_data/2017/f_2017.csv', index_col='State')
c2017 = mm2017.merge(f2017, on='State')

In [20]:
p2017 = pd.read_csv('../data/cleaned_data/poverty/state_pov_2017.csv', index_col='State').drop(columns=['2017_Total_Pop','2017_Pop_Below_Pov'])
final_2017 = c2017.merge(p2017, on='State')
final_2017.head()

,Total_Avg_$,Total_Med_$,Total_Employment,Total_Mem_%,Construction_Avg_$,Construction_Med_$,Construction_Employment,Construction_Mem_%,Total_Fatalities,Construction_Fatalities,2017_Pct_Below_Pov
State,,,,,,,,,,,
Alabama,"43,170","32,800","1,868,005",7.4,"40,770","37,380","112,835",7.0,92.0,18.0,16.9
Alaska,"57,750","47,560","304,027",18.1,"66,600","64,550","16,584",23.4,33.0,0.0,11.1
Arizona,"48,160","36,270","2,804,949",4.0,"44,020","40,490","163,853",1.2,90.0,11.0,14.9
Arkansas,"40,530","30,810","1,207,917",5.1,"37,660","34,710","60,846",2.5,76.0,9.0,16.4
California,"57,190","40,980","16,063,818",15.5,"58,010","53,440","882,269",17.9,376.0,69.0,13.3

In [21]:
final_2010

,Total_Avg_$,Total_Med_$,Total_Employment,Total_Mem_%,Construction_Avg_$,Construction_Med_$,Construction_Employment,Construction_Mem_%,Total_Fatalities,Construction_Fatalities,2010_Pct_Below_Pov
State,,,,,,,,,,,
Alabama,"38,590","29,570","1,808,807",10.1,"35,010","31,750","100,593",4.8,92.0,15.0,19.0
Alaska,"50,350","41,640","295,063",22.9,"59,980","59,660","17,440",21.4,39.0,10.0,9.9
Arizona,"42,390","33,040","2,506,723",6.4,"39,060","36,380","163,760",5.3,77.0,13.0,17.4
Arkansas,"35,460","27,860","1,081,711",4.0,"34,270","31,820","47,617",6.2,88.0,18.0,18.8
California,"50,730","37,870","13,891,632",17.5,"51,880","48,980","707,158",15.7,326.0,45.0,15.8
Colorado,"46,770","36,770","2,130,393",6.6,"42,630","39,300","119,190",5.4,85.0,11.0,13.4
Connecticut,"51,920","40,670","1,548,906",16.7,"51,640","50,110","57,409",17.3,49.0,12.0,10.1
Delaware,"46,870","35,900","352,227",11.4,"44,340","41,170","19,448",10.4,8.0,0.0,11.8
Florida,"40,270","30,600","7,033,457",5.6,"37,030","33,640","372,863",2.6,225.0,40.0,16.5
Georgia,"42,270","31,610","3,792,128",4.0,"36,430","32,920","205,359",4.2,108.0,26.0,17.9
Hawaii,"43,740","35,480","511,431",21.8,"59,100","59,490","30,660",34.4,19.0,4.0,10.7
Idaho,"38,600","30,240","583,830",7.1,"38,160","35,510","29,914",8.1,33.0,0.0,15.7
Illinois,"46,450","35,080","5,434,237",15.5,"54,970","54,580","188,949",34.5,206.0,27.0,13.8
Indiana,"39,020","30,880","2,553,550",10.9,"44,750","41,210","114,340",28.2,118.0,16.0,15.3
Iowa,"37,730","30,380","1,392,729",11.4,"39,550","37,070","66,834",14.5,85.0,10.0,12.6
Kansas,"39,290","30,590","1,221,559",6.8,"39,290","34,840","54,297",10.3,76.0,73.0,13.6
Kentucky,"37,970","30,090","1,641,655",8.9,"38,640","36,020","79,126",15.7,69.0,9.0,19.0
Louisiana,"37,980","30,170","1,742,418",4.3,"37,850","34,820","104,574",2.0,111.0,16.0,18.7
Maine,"39,470","31,780","543,451",11.6,"37,970","36,140","21,653",5.9,20.0,3.0,12.9
Maryland,"50,880","39,740","2,557,824",11.6,"44,530","40,400","148,564",6.7,71.0,18.0,9.9
Massachusetts,"53,700","41,880","2,865,795",14.5,"54,160","51,070","120,442",15.6,54.0,14.0,11.4
Michigan,"43,280","33,830","3,805,863",16.5,"46,250","43,620","109,973",21.7,146.0,23.0,16.8
Minnesota,"45,470","35,990","2,467,752",15.6,"50,990","49,490","90,370",25.0,70.0,9.0,11.6
Mississippi,"33,930","26,680","1,037,372",4.5,"33,730","30,890","49,737",7.3,68.0,13.0,22.4
Missouri,"39,780","30,740","2,468,757",9.9,"47,280","44,700","112,037",32.2,106.0,12.0,15.3
Montana,"36,060","29,030","363,884",12.7,"40,390","38,100","19,547",11.7,36.0,0.0,14.6
Nebraska,"38,300","30,320","813,071",9.3,"38,570","34,430","34,001",13.1,54.0,7.0,12.9
Nevada,"41,220","32,180","1,011,731",15.0,"52,890","50,500","54,860",30.4,38.0,5.0,14.9
New Hampshire,"44,450","34,740","622,471",10.2,"42,080","39,340","21,080",8.8,6.0,0.0,8.3
New Jersey,"50,730","39,020","3,733,761",17.1,"55,820","53,160","171,421",20.1,81.0,16.0,10.3
New Mexico,"40,050","30,060","749,525",7.3,"36,410","33,110","36,410",6.3,38.0,10.0,20.4
New York,"51,700","38,880","8,077,936",24.2,"54,910","49,890","348,520",27.5,182.0,37.0,14.9
North Carolina,"40,500","31,090","3,685,868",3.2,"34,540","31,900","216,150",2.4,139.0,26.0,17.5
North Dakota,"37,040","30,170","312,875",7.4,"42,000","38,150","17,940",10.4,30.0,5.0,13.0
Ohio,"40,890","32,150","4,786,868",13.7,"43,640","41,480","201,614",21.1,161.0,23.0,15.8
Oklahoma,"36,940","28,890","1,417,791",5.5,"35,840","32,670","71,454",1.9,94.0,21.0,16.9
Oregon,"43,550","34,480","1,515,070",16.2,"46,680","43,110","72,744",13.4,47.0,0.0,15.8
Pennsylvania,"43,050","33,840","5,223,632",14.7,"44,430","40,330","224,400",26.5,221.0,39.0,13.4
Rhode Island,"45,920","36,170","455,608",16.4,"47,180","44,420","16,232",19.7,9.0,0.0,14.0
South Carolina,"37,920","29,800","1,713,003",4.6,"35,030","32,200","69,112",2.3,69.0,10.0,18.2
South Dakota,"34,390","27,900","356,769",5.6,"33,470","30,840","17,357",4.4,36.0,7.0,14.4
Tennessee,"38,330","29,920","2,477,414",4.7,"35,400","32,440","107,348",6.1,138.0,30.0,17.7
Texas,"42,220","31,490","10,025,473",5.4,"36,310","31,920","696,991",2.0,461.0,89.0,17.9
Utah,"40,120","31,290","1,143,844",6.5,"39,160","37,000","74,727",9.3,41.0,7.0,13.2
Vermont,"42,030","33,220","289,484",11.8,"39,210","36,770","13,966",3.3,12.0,0.0,12.7
Virginia,"47,840","35,740","3,473,021",4.6,"39,250","36,250","183,080",3.9,107.0,14.0,11.1
Washington,"48,940","39,030","2,837,203",19.4,"52,190","49,750","146,753",15.8,104.0,9.0,13.4
West Virginia,"35,370","27,420","676,538",14.8,"41,740","38,850","35,381",29.3,95.0,10.0,18.1
Wisconsin,"40,980","32,810","2,507,887",14.2,"47,210","44,640","97,946",24.1,91.0,10.0,13.2
Wyoming,"41,510","35,020","245,685",7.4,"45,360","42,180","16,072",6.6,33.0,5.0,11.2

In [22]:
final_2010.dtypes

Total_Avg_$                 object
Total_Med_$                 object
Total_Employment            object
Total_Mem_%                float64
Construction_Avg_$          object
Construction_Med_$          object
Construction_Employment     object
Construction_Mem_%         float64
Total_Fatalities           float64
Construction_Fatalities    float64
2010_Pct_Below_Pov         float64
dtype: object

In [23]:
# noticing there are commas that will interfere with modeling, we will remove them and ensure all data is in integer form

In [24]:
cols = ['Total_Avg_$',
'Total_Med_$',
'Total_Employment',
'Total_Mem_%',
'Construction_Avg_$',
'Construction_Med_$',
'Construction_Employment',
'Construction_Mem_%',
'Total_Fatalities',
'Construction_Fatalities']
def rm_c(df):
    for c in cols:
        df[c].replace(',', '', regex=True, inplace=True)
        df[c] = df[c].astype(int)
    return df

In [25]:
# to standardize column names across all tables, the years will be removed from the poverty columns
final_2010 = rm_c(final_2010.rename(columns={'2010_Pct_Below_Pov':'Pct_Below_Pov'}))
final_2011 = rm_c(final_2011.rename(columns={'2011_Pct_Below_Pov':'Pct_Below_Pov'}))
final_2012 = rm_c(final_2012.rename(columns={'2012_Pct_Below_Pov':'Pct_Below_Pov'}))
final_2013 = rm_c(final_2013.rename(columns={'2013_Pct_Below_Pov':'Pct_Below_Pov'}))
final_2014 = rm_c(final_2014.rename(columns={'2014_Pct_Below_Pov':'Pct_Below_Pov'}))
final_2015 = rm_c(final_2015.rename(columns={'2015_Pct_Below_Pov':'Pct_Below_Pov'}))
final_2016 = rm_c(final_2016.rename(columns={'2016_Pct_Below_Pov':'Pct_Below_Pov'}))
final_2017 = rm_c(final_2017.rename(columns={'2017_Pct_Below_Pov':'Pct_Below_Pov'}))

In [26]:
final_2010.to_csv('../data/cleaned_data/model_data/2010/final_2010.csv')
final_2011.to_csv('../data/cleaned_data/model_data/2011/final_2011.csv')
final_2012.to_csv('../data/cleaned_data/model_data/2012/final_2012.csv')
final_2013.to_csv('../data/cleaned_data/model_data/2013/final_2013.csv')
final_2014.to_csv('../data/cleaned_data/model_data/2014/final_2014.csv')
final_2015.to_csv('../data/cleaned_data/model_data/2015/final_2015.csv')
final_2016.to_csv('../data/cleaned_data/model_data/2016/final_2016.csv')
final_2017.to_csv('../data/cleaned_data/model_data/2017/final_2017.csv')

#### Because we are creating a classification model, we need to binarize the 'Pct_Below_Pov' column. Because the poverty threshold is different for each year, we will perform this change now to prevent later cleaning in the modeling stage.

In [27]:
final_2010

,Total_Avg_$,Total_Med_$,Total_Employment,Total_Mem_%,Construction_Avg_$,Construction_Med_$,Construction_Employment,Construction_Mem_%,Total_Fatalities,Construction_Fatalities,Pct_Below_Pov
State,,,,,,,,,,,
Alabama,38590,29570,1808807,10,35010,31750,100593,4,92,15,19.0
Alaska,50350,41640,295063,22,59980,59660,17440,21,39,10,9.9
Arizona,42390,33040,2506723,6,39060,36380,163760,5,77,13,17.4
Arkansas,35460,27860,1081711,4,34270,31820,47617,6,88,18,18.8
California,50730,37870,13891632,17,51880,48980,707158,15,326,45,15.8
Colorado,46770,36770,2130393,6,42630,39300,119190,5,85,11,13.4
Connecticut,51920,40670,1548906,16,51640,50110,57409,17,49,12,10.1
Delaware,46870,35900,352227,11,44340,41170,19448,10,8,0,11.8
Florida,40270,30600,7033457,5,37030,33640,372863,2,225,40,16.5
Georgia,42270,31610,3792128,4,36430,32920,205359,4,108,26,17.9
Hawaii,43740,35480,511431,21,59100,59490,30660,34,19,4,10.7
Idaho,38600,30240,583830,7,38160,35510,29914,8,33,0,15.7
Illinois,46450,35080,5434237,15,54970,54580,188949,34,206,27,13.8
Indiana,39020,30880,2553550,10,44750,41210,114340,28,118,16,15.3
Iowa,37730,30380,1392729,11,39550,37070,66834,14,85,10,12.6
Kansas,39290,30590,1221559,6,39290,34840,54297,10,76,73,13.6
Kentucky,37970,30090,1641655,8,38640,36020,79126,15,69,9,19.0
Louisiana,37980,30170,1742418,4,37850,34820,104574,2,111,16,18.7
Maine,39470,31780,543451,11,37970,36140,21653,5,20,3,12.9
Maryland,50880,39740,2557824,11,44530,40400,148564,6,71,18,9.9
Massachusetts,53700,41880,2865795,14,54160,51070,120442,15,54,14,11.4
Michigan,43280,33830,3805863,16,46250,43620,109973,21,146,23,16.8
Minnesota,45470,35990,2467752,15,50990,49490,90370,25,70,9,11.6
Mississippi,33930,26680,1037372,4,33730,30890,49737,7,68,13,22.4
Missouri,39780,30740,2468757,9,47280,44700,112037,32,106,12,15.3
Montana,36060,29030,363884,12,40390,38100,19547,11,36,0,14.6
Nebraska,38300,30320,813071,9,38570,34430,34001,13,54,7,12.9
Nevada,41220,32180,1011731,15,52890,50500,54860,30,38,5,14.9
New Hampshire,44450,34740,622471,10,42080,39340,21080,8,6,0,8.3
New Jersey,50730,39020,3733761,17,55820,53160,171421,20,81,16,10.3
New Mexico,40050,30060,749525,7,36410,33110,36410,6,38,10,20.4
New York,51700,38880,8077936,24,54910,49890,348520,27,182,37,14.9
North Carolina,40500,31090,3685868,3,34540,31900,216150,2,139,26,17.5
North Dakota,37040,30170,312875,7,42000,38150,17940,10,30,5,13.0
Ohio,40890,32150,4786868,13,43640,41480,201614,21,161,23,15.8
Oklahoma,36940,28890,1417791,5,35840,32670,71454,1,94,21,16.9
Oregon,43550,34480,1515070,16,46680,43110,72744,13,47,0,15.8
Pennsylvania,43050,33840,5223632,14,44430,40330,224400,26,221,39,13.4
Rhode Island,45920,36170,455608,16,47180,44420,16232,19,9,0,14.0
South Carolina,37920,29800,1713003,4,35030,32200,69112,2,69,10,18.2
South Dakota,34390,27900,356769,5,33470,30840,17357,4,36,7,14.4
Tennessee,38330,29920,2477414,4,35400,32440,107348,6,138,30,17.7
Texas,42220,31490,10025473,5,36310,31920,696991,2,461,89,17.9
Utah,40120,31290,1143844,6,39160,37000,74727,9,41,7,13.2
Vermont,42030,33220,289484,11,39210,36770,13966,3,12,0,12.7
Virginia,47840,35740,3473021,4,39250,36250,183080,3,107,14,11.1
Washington,48940,39030,2837203,19,52190,49750,146753,15,104,9,13.4
West Virginia,35370,27420,676538,14,41740,38850,35381,29,95,10,18.1
Wisconsin,40980,32810,2507887,14,47210,44640,97946,24,91,10,13.2
Wyoming,41510,35020,245685,7,45360,42180,16072,6,33,5,11.2

In [28]:
final_2010['Pct_Below_Pov'] = (final_2010['Pct_Below_Pov'] > 15.1).astype(int)

In [29]:
final_2011['Pct_Below_Pov'] = (final_2011['Pct_Below_Pov'] > 15).astype(int)

In [30]:
final_2012['Pct_Below_Pov'] = (final_2012['Pct_Below_Pov'] > 15).astype(int)

In [31]:
final_2013['Pct_Below_Pov'] = (final_2013['Pct_Below_Pov'] > 14.5).astype(int)

In [32]:
final_2014['Pct_Below_Pov'] = (final_2014['Pct_Below_Pov'] > 14.8).astype(int)

In [33]:
final_2015['Pct_Below_Pov'] = (final_2015['Pct_Below_Pov'] > 13.5).astype(int)

In [34]:
final_2016['Pct_Below_Pov'] = (final_2016['Pct_Below_Pov'] > 12.7).astype(int)

In [35]:
final_2017['Pct_Below_Pov'] = (final_2017['Pct_Below_Pov'] > 12.3).astype(int)

In [37]:
final_2010.to_csv('../data/cleaned_data/model_data/2010/final_2010_bin.csv')
final_2011.to_csv('../data/cleaned_data/model_data/2011/final_2011_bin.csv')
final_2012.to_csv('../data/cleaned_data/model_data/2012/final_2012_bin.csv')
final_2013.to_csv('../data/cleaned_data/model_data/2013/final_2013_bin.csv')
final_2014.to_csv('../data/cleaned_data/model_data/2014/final_2014_bin.csv')
final_2015.to_csv('../data/cleaned_data/model_data/2015/final_2015_bin.csv')
final_2016.to_csv('../data/cleaned_data/model_data/2016/final_2016_bin.csv')
final_2017.to_csv('../data/cleaned_data/model_data/2017/final_2017_bin.csv')