### Data Import and Cleaning

In [ ]:
import pandas as pd

In [2]:
severe = pd.read_csv('../data/severeinjury.csv', encoding='latin-1')
severe.head(1)

In [3]:
severe.columns

Index(['Identification Number', 'UPA', 'EventDate', 'Employer', 'Address1',
       'Address2', 'City', 'State', 'Zip', 'Latitude', 'Longitude',
       'Primary NAICS', 'Hospitalized', 'Amputation', 'Inspection',
       'Final Narrative', 'Nature', 'NatureTitle', 'Part of Body',
       'Part of Body Title', 'Event', 'EventTitle', 'Source', 'SourceTitle',
       'Secondary Source', 'Secondary Source Title'],
      dtype='object')

In [4]:
severe.drop(columns=['Employer', 'Zip', 'Inspection','Identification Number','UPA','Address1','Address2','Nature','NatureTitle','Part of Body','Part of Body Title', 'Source', 'SourceTitle', 'Secondary Source','Secondary Source Title','Hospitalized','Amputation','EventTitle','Final Narrative','Event'], inplace=True)

In [5]:
severe.head()

  EventDate         City         State  Latitude  Longitude Primary NAICS
0  1/1/2015    OTISVILLE      NEW YORK     41.46     -74.53        922140
1  1/1/2015  LAKE DELTON     WISCONSIN     43.59     -89.79        339999
2  1/1/2015   CORAOPOLIS  PENNSYLVANIA     40.49     -80.11        484121
3  1/1/2015        MACON       GEORGIA     32.77     -83.65        424490
4  1/1/2015   JANESVILLE     WISCONSIN     42.67     -89.04        326122