### Data Import and Cleaning

In [1]:
import pandas as pd

In [2]:
falls2017 = pd.read_csv('fatal-construction-falls-2017 - Con_Falls.csv')
falls2017.head()

  State of incident  Number
0  All States Total    367
1           Alabama      3
2           Arizona      5
3          Arkansas      4
4        California     32

In [3]:
severe2017 = pd.read_csv('severeinjury.csv', encoding='latin-1')
severe2017.head(1)

C:\Users\justanotheregg\Anaconda3\envs\dsi\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Identification Number,UPA,EventDate,Employer,Address1,Address2,City,State,Zip,Latitude,...,Nature,NatureTitle,Part of Body,Part of Body Title,Event,EventTitle,Source,SourceTitle,Secondary Source,Secondary Source Title
0,2015010015,931176,1/1/2015,FCI Otisville Federal Correctional Institution,Two Mile Drive,NaN,OTISVILLE,NEW YORK,10963.0,41.46,...,111,Fractures,513,Lower leg(s),1214,Injured by physical contact with person while ...,5721,Co-worker,5772.0,Inmate or detainee in custody

In [4]:
severe2017.columns

Index(['Identification Number', 'UPA', 'EventDate', 'Employer', 'Address1',
       'Address2', 'City', 'State', 'Zip', 'Latitude', 'Longitude',
       'Primary NAICS', 'Hospitalized', 'Amputation', 'Inspection',
       'Final Narrative', 'Nature', 'NatureTitle', 'Part of Body',
       'Part of Body Title', 'Event', 'EventTitle', 'Source', 'SourceTitle',
       'Secondary Source', 'Secondary Source Title'],
      dtype='object')

In [5]:
severe2017.drop(columns=['Identification Number','UPA','Address1','Address2','Nature','NatureTitle','Part of Body','Part of Body Title', 'Source', 'SourceTitle', 'Secondary Source','Secondary Source Title','Hospitalized','Amputation','EventTitle','Final Narrative','Event'], inplace=True)

In [6]:
cali_2017 = pd.read_csv('california .csv',encoding='latin-1', header=2, index_col=None)
dc_2017 = pd.read_csv('dc .csv',encoding='latin-1', header=2, index_col=None)
nc_2017 = pd.read_csv('northcarolina.csv',encoding='latin-1', header=2, index_col=None)
ny_2017 = pd.read_csv('newyorkstate.csv',encoding='latin-1', header=2, index_col=None)

In [7]:
cali_2017.head()

,Industry2,NAICS code3,Total recordable cases,Total,Cases with days away from work4,Cases with job transfer or restriction,Other recordable cases
0,"All industries including private, state and l...",NaN,3.6,2.1,1.1,0.9,1.5
1,Private industry5,NaN,3.2,2.0,1.0,0.9,1.3
2,Goods-producing5,NaN,3.7,2.5,1.2,1.2,1.3
3,"Natural resources and mining5,6",NaN,5.0,3.0,1.4,1.6,2.0
4,"Agriculture, forestry, fishing and hunting5",11,5.3,3.2,1.5,1.7,2.1

In [8]:
#removing end rows containing explanatory text rather than data
cali_2017 = cali_2017.iloc[0:493, :]

In [9]:
dc_2017 = dc_2017.iloc[0:30, :]

In [10]:
nc_2017 = nc_2017.iloc[0:264, :]

In [11]:
ny_2017 = ny_2017.iloc[0:179, :]

In [12]:
#the state dfs are all same format, so this function removes unnecessary columns from all
#renames columns for ease; removes trailing number at end of industry entries
def remove(df):
    df.drop(columns=['Cases with days away from work4', 'Cases with job transfer or restriction', 'Other recordable cases'], inplace=True)
    df.rename(columns={'Industry2': 'Industry', 'NAICS code3': 'NAICS Code'}, inplace=True)
    df['Industry']= df['Industry'].str[:-1]
    return df.head()

In [13]:
remove(cali_2017)
remove(dc_2017)
remove(ny_2017)
remove(nc_2017)

,Industry,NAICS Code,Total recordable cases,Total
0,"All industries including private, state and l...",NaN,2.5,1.3
1,Private industry,NaN,2.3,1.3
2,Goods-producing,NaN,2.6,1.6
3,"Natural resources and mining5,",NaN,3.4,2.3
4,"Agriculture, forestry, fishing and hunting",11,3.7,2.5

In [16]:
cali_2017['State'] = 'California'
dc_2017['State'] = 'Washington DC'
ny_2017['State'] = 'New York'
nc_2017['State'] = 'North Carolina'